@media All and (max-width: 1366px) {
  #Agents,
  #AgentHeader,
  #Agentabout {
    padding: 3rem 40px;
  }

  .agents .agent_body .agentInfo .agent .image {
    height: 15rem;
  }
}

@media All and (max-width: 1024px) {
  .agents .agent_body .agentInfo,
  #Agentabout .about .propertyunder .properties {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media All and (max-width: 768px) {
  .agents .agent_body .agentInfo,
  #Agentabout .about .propertyunder .properties {
    grid-template-columns: repeat(2, 1fr);
  }
  .agents .agent_header input {
    width: 40%;
    padding: 10px 10px;
  }

  .agents .agent_header input:focus {
    width: 50%;
  }

  .agent_header .agentinfo {
    border: none;
    border-bottom: 1px solid var(--clr-secondary-white);
    padding: 20px 0;
  }
  .AgentDetail #AgentHeader {
    height: 100%;
  }
}

@media All and (max-width: 600px) {
  .agent_header .agentinfo {
    flex-direction: column;
  }

  #Agents,
  #AgentHeader,
  #Agentabout {
    padding: 2rem 20px;
  }

  .agents .agent_body .agentInfo .agent .image {
    height: 15rem;
  }
  .agents .agent_body .agentInfo,
  #Agentabout .about .propertyunder .properties {
    grid-template-columns: repeat(1, 1fr);
  }
}
