@media All and (max-width: 1440px) {
  .AuthenticationSection > section {
    padding: 0 40px;
  }
  .Register .leftcontainer .bg-image > h1 {
    font-size: 40px;
  }
}

@media All and (max-width: 1024px) {
  .login .logincontainer > div:nth-child(2) {
    height: auto;
  }
  .Register .Registercontainer > div:nth-child(1) {
    height: auto;
  }
  .AuthenticationSection > section {
    padding: 0 20px;
    height: 100%;
  }

  .login .logincontainer > div:nth-child(1) {
    padding: 2rem;
  }
  .Register .Registercontainer > div:nth-child(2) {
    padding: 2rem;
  }
}
@media All and (max-width: 900px) {
  .AuthenticationSection > section {
    padding: 0;
    height: 100%;
  }
  .login .logincontainer .leftcontainer .form .createanaccount {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login,
  .Register {
    overflow: auto;
    border-radius: 0px;
    height: 100%;
  }
  .login .logincontainer > div:nth-child(1) {
    padding: 0rem 20px;
    height: 100vh;
    width: 100%;
  }

  .login .logincontainer > .leftcontainer .image {
    display: flex;
    justify-content: center;
  }

  .Register .leftcontainer .bg-image {
    height: auto;
  }
  .Register .Registercontainer > div:nth-child(2) .image {
    display: flex;
    justify-content: center;
  }
  .Register .Registercontainer > div:nth-child(2) .image img {
    height: 100px;
    width: auto;
  }
  .Register .Registercontainer .rightcontainer .Signin {
    display: flex;
  }
  .Register .Registercontainer > div:nth-child(1) {
    display: none;
  }

  .AuthenticationSection > section > div > div > div {
    height: 100% !important;
  }
  .Register .Registercontainer > div:nth-child(2) {
    padding: 0rem 20px;
    height: 100%;
  }
  .login .logincontainer > div:nth-child(2) {
    display: none;
    width: 100%;
  }
  .AuthenticationSection > section > div > div > div {
    flex-direction: column;
  }
  .Register .Registercontainer {
    flex-direction: column-reverse;
  }
  .Register .leftcontainer .bg-image {
    padding: 2rem;
  }
}

@media All and (max-width: 600px) {
}
