@media All and (max-width: 1366px) {
  .AuthenticationSection > section {
    padding: 0 40px;
  }
}

@media All and (max-width: 1024px) {
  .AuthenticationSection > section {
    padding: 0;
    height: 100%;
  }
  .AuthenticationSection > section > div > div > div {
    height: 100% !important;
  }
  .login .logincontainer > div:nth-child(1) {
    padding: 2rem;
  }
  .Register .Registercontainer > div:nth-child(2) {
    padding: 2rem;
  }
}
@media All and (max-width: 900px) {
  .login,
  .Register {
    overflow: auto;
    border-radius: 0px;
    height: 100%;
  }
  .login .logincontainer > div:nth-child(1) {
    padding: 2rem 20px;
    height: 100%;
    width: 100%;
  }
  .Register .Registercontainer > div:nth-child(2) {
    padding: 2rem 20px;
    height: 100%;
  }
  .login .logincontainer > div:nth-child(2) {
    width: 100%;
  }
  .AuthenticationSection > section > div > div > div {
    flex-direction: column;
  }
  .Register .Registercontainer {
    flex-direction: column-reverse;
  }
  .Register .leftcontainer .bg-image {
    padding: 2rem;
  }
}

@media All and (max-width: 600px) {
}
