@media All and (max-width: 1366px) {
  .FilterPage > section {
    padding: 2rem 40px;
  }
  .filter .filterBody .property .content {
    padding: 15px 20px;
  }
}

@media All and (max-width: 1024px) {
  .searchSection h3 {
    grid-column: 1/4;
  }
  .RecentlyViewed {
    display: none;
  }
  .filter .filterContent {
    grid-template-columns: 1fr 2fr;
  }
  .filter .searchSection .search {
    grid-column: 1/3;
  }
}

@media All and (max-width: 768px) {
  .filter .searchSection .filterbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .filter .filterContent > .advanceFilter {
    display: none;
  }
  .filter .filterContent > div:nth-child(odd) {
    position: inherit;
    height: 100%;
  }
  .filter .searchSection {
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    gap: 0;
    grid-row-gap: 20px;
  }
  .FilterPage > section {
    padding: 2rem 20px;
  }
  .filter .filterContent > .filter-active {
    display: block;
  }
  .filter .filterBody .sort {
    display: none;
  }

  .filter .searchSection .additionalsearch > div {
    padding: 18px;
  }
  .filter .filterBody .property .content > * {
    margin-bottom: 10px;
  }
  .filter .filterBody .property .content {
    padding: 15px 10px;
  }
  .filter .filterBody .property {
    flex-direction: column;
  }
  .filter .filterBody .property .image {
    width: 100%;
    height: 20rem;
    border-radius: 0px;
  }
  .filter .filterBody .property .content {
    width: 100%;
  }
  .filter .filterContent .advanceFilter .budget input,
  .filter .filterContent .advanceFilter .noofRoom input {
    padding: 10px 10px;
    width: 48%;
  }

  .filter .searchSection .search {
    grid-column: 1/3;
  }
  .filter .searchSection .additionalsearch {
    grid-column: 1/2;
  }
  .filter .filterContent {
    grid-template-columns: 1fr;
  }
}
