@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --clr-secondary: #6a7179;
  --clr--primary: #424951;
  --clr-primary-black: #121212;
  --clr-secondary-black: #676767;
  --clr-primary-white: #ffffff;
  --clr-secondary-white: #e7e7e7;
  --clr-input-color: #f6f6f6;
  --clr-button-primary-color: #f99b1f;
}
img {
  object-fit: cover;
}

h1 {
  color: #f99b1f;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 500;
}
.image img {
  height: 100%;
  width: 100%;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-weight: 500;
  color: var(--clr-primary-black);
}
a {
  color: var(--clr-secondary-black);
}
p {
  font-size: 14px;
  color: var(--clr-secondary-black);
  line-height: 1.5rem;
}

button {
  background: var(--clr-button-primary-color);
  cursor: pointer;
  backdrop-filter: blur(10px);
  border-radius: 6px;
  color: var(--clr-primary-white);
}
#Navbar {
  background-color: transparent;
  padding: 0;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  padding: 25px 0;
}
#Homepage {
  margin-bottom: 50px;
  padding: 0;
}
section {
  padding: 4rem 0;
}
.logo img {
  height: 76px;
  width: auto;
}

.body #Navbar {
  box-shadow: none;
}
.body > section {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  height: 100%;
}
#RecentProperty,
#SoldProperty {
  padding: 4rem 0;
}
.body > section:nth-child(odd) {
  background-color: var(--clr--primary);
  color: var(--clr-primary-white);
}
.container {
  width: 1366px;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar .navlinks {
  display: flex;

  align-items: center;
  width: 100%;
}

.navbar .navlinks ul {
  display: flex;
  gap: 3%;
  width: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.navbar .navlinks .navlink {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar .navlinks .profile {
  display: flex;
  gap: 20px;
}

.navbar .navlinks .profile .loginauth a button {
  padding: 10px 20px;
  color: var(--clr-input-color);
  border-radius: 6px;
  font-size: 14px;
}
.navbar .navlinks .profile .loginauth a button:hover {
  background-color: var(--clr-secondary-black);
}

.navbar .navlinks .profile .Registrationauth a button {
  background-color: transparent;
  outline: 1px solid var(--clr-button-primary-color);
  padding: 10px 20px;
  color: var(--clr-button-primary-color);
  border-radius: 6px;
  font-size: 14px;
}
.navbar .navlinks .profile .Registrationauth a button:hover {
  border: none;
  background-color: var(--clr-secondary-black);
  color: var(--clr-primary-white);
}

.navbar .navlinks ul li .active {
  font-weight: bold;
  color: var(--clr-primary-black);
  border-bottom: 2px solid var(--clr-primary-black);
}

.navbar .button {
  display: none;
  margin-left: auto;
  color: var(--clr--primary);
  font-size: 16px;
}

.homepage > div {
  display: flex;
  flex-direction: column;
}
.homepage .hero-image {
  background-image: url("../image/Homescreen.png");
  padding: 6rem 3rem;
  background-size: cover;
  background-position: center;
  filter: saturate(80%);
  background-repeat: no-repeat;

  height: 80vh;
  border-radius: 12px;
}
.homepage .hero-image .content {
  margin: auto 0px;
}
.homepage .hero-image .content h1 {
  color: var(--clr-primary-white);
}
.homepage .hero-image .content p {
  color: var(--clr-primary-white);
  font-weight: 400;
}

.homepage .hero-image .advanceSearch {
  display: flex;
  gap: 20px;
  height: 200px;
}
.homepage .hero-image .advanceSearch > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(
    92.35deg,
    rgba(255, 255, 255, 0.3) 0.14%,
    rgba(255, 255, 255, 0.15) 100%
  );
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 6px;
  width: 80%;
}
.homepage .hero-image .advanceSearch > div:nth-child(2) {
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    92.35deg,
    rgba(255, 255, 255, 0.3) 0.14%,
    rgba(255, 255, 255, 0.15) 100%
  );
  backdrop-filter: blur(6px);
  border-radius: 6px;
  width: 20%;
}

.homepage .hero-image .advanceSearch .searchSection .topsection ul {
  display: flex;
  margin: auto 0;
}
.homepage .hero-image .advanceSearch .searchSection .topsection ul > li a {
  margin-right: 20px;
  font-size: 20px;
  color: var(--clr-primary-white);
}
.homepage
  .hero-image
  .advanceSearch
  .searchSection
  .topsection
  ul
  > li
  .active {
  border-bottom: 2px solid var(--clr-primary-white);
}
.homepage .hero-image .advanceSearch .searchSection .bottomsection {
  display: flex;
  margin: auto 0px;
  gap: 20px;
}

.homepage .hero-image .advanceSearch .searchSection .bottomsection input {
  background: transparent;
  border: 2px solid var(--clr-secondary-white);
  font-size: 16px;
  padding: 15px 10px;
  color: var(--clr-primary-white);
  flex: 6;
}

.homepage
  .hero-image
  .advanceSearch
  .searchSection
  .bottomsection
  input::placeholder {
  color: var(--clr-secondary-white);
}

.hero-image .advanceSearch .bottomsection button {
  flex: 1;
  display: flex;
  gap: 10px;
  padding: 6px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.hero-image .advanceSearch .bottomsection button i {
  font-size: 16px;
}

.hero-image .advanceSearch .bottomsection select {
  flex: 1;
  color: var(--clr-primary-white);
  background: linear-gradient(
    92.35deg,
    rgba(255, 255, 255, 0.3) 0.14%,
    rgba(255, 255, 255, 0.25) 100%
  );
  backdrop-filter: blur(10px);

  padding: 10px;
  border-radius: 6px;
}

.hero-image .advanceSearch .bottomsection option {
  color: var(--clr-secondary-black);
  background: linear-gradient(
    92.35deg,
    rgba(255, 255, 255, 0.3) 0.14%,
    rgba(255, 255, 255, 0.25) 100%
  );
  backdrop-filter: blur(10px);
}
.hero-image .gotlost {
  color: var(--clr-primary-white);
}
.hero-image .gotlost h4 {
  font-weight: 400;
  color: var(--clr-primary-white);
  margin-bottom: 10px;
}

.hero-image .gotlost p {
  color: var(--clr-secondary-white);
  margin-bottom: 10px;
}

.hero-image .gotlost button {
  padding: 8px;
  font-size: 13px;
  width: 40%;
}

.soldproperty .topsection {
  color: var(--clr-primary-white);
}
.soldproperty .topsection a {
  color: var(--clr-secondary-white);
}
.soldproperty .topsection,
.recentproperty .topsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.soldproperty .topsection a,
.recentproperty .topsection a {
  text-decoration: underline;
}

.soldproperty .bottomsection .properties,
.recentproperty .bottomsection .properties {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.soldproperty .bottomsection .properties > div,
.recentproperty .bottomsection .properties > div {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 20px;
  color: var(--clr-primary-white);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.041);
  overflow: hidden;
}
.soldproperty .bottomsection .properties > div:hover {
  background: linear-gradient(
    108.99deg,
    rgba(255, 255, 255, 0.25) 1.09%,
    rgba(255, 255, 255, 0.35) 99.06%
  );
  box-shadow: 0px 7px 12px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}

.soldproperty .bottomsection .properties .property .image,
.recentproperty .bottomsection .properties .property .image {
  height: 15rem;
  width: 100%;
  overflow: hidden;
}
.soldproperty .bottomsection .properties .property .content,
.recentproperty .bottomsection .properties .property .content {
  padding: 10px 10px;
}
.soldproperty .bottomsection .properties .property .content h4,
.recentproperty .bottomsection .properties .property .content h4 {
  margin-bottom: 10px;
}
.soldproperty .bottomsection .properties .property .content h4 {
  color: var(--clr-primary-white);
}
.soldproperty .bottomsection .properties .property .content p {
  color: var(--clr-secondary-white);
}

.soldproperty .bottomsection .properties .property .content p,
.recentproperty .bottomsection .properties .property .content p {
  font-size: 14px;
  margin-bottom: 10px;
}
.soldproperty .bottomsection .properties .property .content button,
.recentproperty .bottomsection .properties .property .content button {
  padding: 10px;
}

.recentproperty .bottomsection .properties > div:hover {
  background: var(--clr-primary-white);
  box-shadow: 0px 7px 12px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}

.testamonial h3 {
  margin-bottom: 20px;
}
.testamonial h4 {
  color: var(--clr-secondary-white);
  margin-bottom: 50px;
}

.testamonial .bottomsection {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.testamonial .bottomsection > div {
  flex: 1;
}

.testamonial .bottomsection .client-testimonial p {
  color: var(--clr-secondary-white);
  margin: 15px 0;
  line-height: 1.5rem;
  font-size: 14px;
  font-weight: 300;
}

.testamonial .bottomsection .client-testimonial .client-name {
  display: flex;
  justify-content: flex-end;
}
.testamonial .bottomsection .client-testimonial .client-name h4 {
  font-weight: 300;
  margin-bottom: 0;
}

.testamonial .bottomsection .client-testimonial .icon {
  display: flex;
  justify-content: center;
}

.aboutus .aboutus-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.aboutus .aboutus-content > div {
  flex: 1;
}
.aboutus .aboutus-content .rightcontainer {
  display: flex;
  justify-content: flex-end;
}
.aboutus .aboutus-content .rightcontainer img,
.service .service-content .rightcontainer img {
  height: auto;
  width: 50%;
}
.aboutus .aboutus-content .leftcontainer h4,
.service .service-content .leftcontainer h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.service .service-content .leftcontainer h4 {
  color: var(--clr-primary-white);
}
.service .service-content .leftcontainer p {
  color: var(--clr-secondary-white);
  font-weight: 300;
}

.service .service-content {
  display: flex;
  align-items: center;
}
.service .service-content > div {
  flex: 1;
}

.contact .contactDetails {
  display: flex;
  gap: 20px;
}

.contact .contactDetails > div {
  flex: 1;
}
.contact h3 {
  margin-bottom: 20px;
}
.contact .contactDetails .leftcontainer > h4 {
  font-size: 20px;
  margin-bottom: 45px;
}
.contact .contactDetails .leftcontainer .wrapper h4 {
  margin-bottom: 8px;
}
.contact .contactDetails .leftcontainer .wrapper p {
  font-weight: 500;
}
.contact .contactDetails .leftcontainer .contactinfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
}
.contact .contactDetails .leftcontainer .contactinfo .wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact .contactDetails .leftcontainer .contactinfo .icon {
  background-color: var(--clr-input-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.contact .contactDetails .rightcontainer .contactform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.contact .contactDetails .rightcontainer .contactform input {
  padding: 20px 10px;
  background-color: var(--clr-input-color);
  border-radius: 6px;
  color: var(--clr-secondary-black);
}

.contact .contactDetails .rightcontainer .contactform textarea {
  grid-column: 1/3;
  padding: 20px 10px;
  background-color: var(--clr-input-color);
  border-radius: 6px;
}
.contact .contactDetails .rightcontainer .contactform .send {
  grid: 2/2;
}
.contact .contactDetails .rightcontainer .contactform button {
  padding: 15px 0px;
  width: 50%;
  border-radius: 315px;
}
#Footer {
  background-color: var(--clr--primary);
}

.footer .bottomsection h4,
.footer .bottomsection a {
  color: var(--clr-secondary-white);
}

.footer .topsection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.footer .topsection > div {
  width: 20%;
}
.footer .topsection h3 {
  font-size: 18px;
}
.footer .topsection .about {
  width: 50%;
}
.footer .topsection .about p {
  width: 70%;
  line-height: 1.5rem;
  font-weight: 300;
}
.footer .topsection p,
.footer .topsection ul li a,
.footer .topsection h4 {
  color: var(--clr-secondary-white);
}

.footer .topsection h3 {
  margin-bottom: 35px;
  color: var(--clr-primary-white);
}
.footer .topsection ul li {
  margin-bottom: 16px;
}

.footer .topsection .about .icon {
  display: flex;
  gap: 20px;
  color: var(--clr-secondary-white);
}
.footer .topsection .about p {
  margin-bottom: 20px;
}

.footer .topsection .about .icon i {
  font-size: 30px;
}
.footer .topsection .contactinfo .wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.footer .topsection .contactinfo .wrapper h4 {
  margin-bottom: 5px;
}

.footer .bottomsection {
  display: flex;
  gap: 20px;
}
.footer .bottomsection h4 {
  font-weight: 400;
}
.footer .bottomsection a {
  border-bottom: 1px solid var(--clr-secondary-white);
}

/* EnquiryForm start */

.EnquiryForm > section {
  display: flex;
  justify-content: center;
}
.EnquiryForm #Footer {
  background-color: var(--clr--primary);
}

.enquiryform {
  display: flex;
  gap: 50px;
}
.enquiryform > div {
  flex: 1;
}
.enquiryform .leftcontainer h3 {
  margin-bottom: 20px;
}
.enquiryform .leftcontainer h5 {
  font-weight: 500;
}
.enquiryform .leftcontainer > div {
  margin: 20px 0;
  padding: 5px 0;
}
.enquiryform .leftcontainer > div h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.enquiryform .leftcontainer .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.enquiryform .leftcontainer .form input {
  background-color: var(--clr-input-color);
  padding: 15px 10px;
}

.enquiryform .leftcontainer .form input::placeholder {
  color: var(--clr-secondary-black);
}

.enquiryform .leftcontainer .form select {
  padding: 15px 10px;
  background: var(--clr-secondary-black);
  color: var(--clr-secondary-white);
}
.enquiryform .leftcontainer .form option {
  font-size: 14px;
  border-radius: none;
}

.enquiryform .leftcontainer .RoomNumber .form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.enquiryform .leftcontainer .button button {
  padding: 10px 0;

  font-size: 16px;
  width: 60%;
}

/* enquiryform ended */

/* propertyinside start */

.Property > section {
  display: flex;
  justify-content: center;
}
#property {
  padding: 4rem 0;
}
.Property #Footer {
  background: var(--clr--primary);
}

#property > div > h4 {
  margin-bottom: 20px;
}
#property .propertyDetail {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

#property .propertyDetail > div:nth-child(1) {
  width: 70%;
}
#property .propertyDetail > div:nth-child(2) {
  width: 30%;
  position: sticky;
  top: 2px;

  /* box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.05); */

  border-radius: 6px;
}

.propertyDetail .propertyInfo h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.propertyDetail .propertyInfo .carousel > div {
  border-radius: 6px;
}
.propertyDetail .propertyInfo .carousel .slider {
  margin-bottom: 40px;
  height: 10rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.propertyDetail .propertyInfo .carousel .slider .img {
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
.propertyDetail .propertyInfo .carousel .slider .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.propertyDetail .propertyInfo .carousel .image {
  height: 40rem;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.propertyDetail .propertyInfo .carousel .image img {
  height: 100%;
}

.propertyDetail .propertyInfo .propertyDescription > div {
  margin-bottom: 40px;
}
.propertyDetail .propertyInfo .propertyDescription .rooms .roomNumber * {
  margin: 0;
  font-weight: 500;
  color: var(--clr-secondary);
}
.propertyDetail .propertyInfo .propertyDescription .rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.propertyDetail .propertyInfo .rooms .roomNumber {
  display: flex;
  align-items: center;
}

.propertyDetail .propertyInfo .propertyDescription .map-area {
  border-radius: 6px;
  height: 20rem;
  margin-bottom: 0px;
  overflow: hidden;
}
.propertyDetail .propertyInfo .propertyDescription .map-area img {
  height: 100%;
  width: 100%;
}

.propertyDetail .contactAgent {
  height: 40rem;
}
.propertyDetail .contactAgent .contactDetails {
  padding: 30px;
}
.propertyDetail .contactAgent .contactDetails > h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
.propertyDetail .contactAgent .contactDetails .agentDetail .agent-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.propertyDetail .contactAgent .contactDetails .agentDetail .agent-image img {
  width: 100%;
  height: 100%;
}

.propertyDetail .contactAgent .contactDetails .agentDetail {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.propertyDetail .contactAgent .contactDetails .agentDetail .agentinfo > * {
  margin-bottom: 6px;
}
.propertyDetail .contactAgent .contactDetails .agentDetail .agentinfo h4 {
  font-weight: 500;
}
.propertyDetail .contactAgent .contactDetails .agentDetail .agentinfo h5 {
  font-weight: 500;
  color: var(--clr--primary);
}
.propertyDetail .contactAgent .contactDetails .agentDetail .agentinfo a {
  background-color: var(--clr--primary);
  color: var(--clr-secondary-white);
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px 0;
}

.propertyDetail .contactAgent .contactDetails .contactform {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.propertyDetail .contactAgent .contactDetails .contactform > input {
  padding: 15px 15px;
  background-color: var(--clr-input-color);
  color: var(--clr-secondary-black);
}
.propertyDetail .contactAgent .contactDetails .contactform > textarea {
  background-color: var(--clr-input-color);
  color: var(--clr-secondary-black);
  padding: 15px 15px;
}
.propertyDetail .contactAgent .contactDetails .contactform > button {
  padding: 10px;
}
#property .similarProperties {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#property .similarProperties h4 {
  font-weight: 600;
  grid-column: 1/5;
}
#property .similarProperties .similarProperty {
  height: 100%;
  box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
#property .similarProperties .similarProperty:hover {
  transform: scale(1.05);
}

#property .similarProperties .similarProperty:hover .img img {
  transform: scale(1.3);
}
#property .similarProperties .similarProperty .description {
  padding: 20px 12px;
}
#property .similarProperties .similarProperty .description * {
  margin-bottom: 10px;
}

#property .similarProperties .similarProperty .description a {
  background-color: var(--clr--primary);
  padding: 10px 20px;
  font-size: 14px;
  color: var(--clr-primary-white);
  border-radius: 6px;
}
#property .similarProperties .similarProperty .img {
  height: 15rem;
  width: 100%;
  overflow: hidden;
}
#property .similarProperties .similarProperty .img img {
  height: 100%;
  width: 100%;
  transition: transform 300ms ease-in-out;
}

/* PropertyEnded */

.FilterPage > section {
  display: flex;
  justify-content: center;
}

.filter > h3 {
  margin: 30px 0;
}

.filter .searchSection {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  align-self: center;
  margin-bottom: 30px;
}
.filter .searchSection h3 {
  align-self: center;
}
.filter .searchSection > div {
  box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.filter .searchSection .search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
}
.filter .searchSection .search input {
  height: 100%;
  width: 80%;
}
.filter .searchSection .search button {
  padding: 10px 20px;
}
.filter .searchSection .additionalsearch {
  display: flex;
  gap: 5px;
  overflow: hidden;
}
.filter .searchSection .additionalsearch h4 {
  font-size: 14px;
}

.filter .searchSection .additionalsearch > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
}

.filter .searchSection .additionalsearch > div:hover {
  background-color: var(--clr-secondary-black);
  color: var(--clr-secondary-white);
  cursor: pointer;
}

.filter .searchSection .additionalsearch > div:hover h4 {
  color: var(--clr-secondary-white);
}

.filter .filterContent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
}
.filter .filterContent div {
  border-radius: 6px;
}
.filter .filterContent > div:nth-child(odd) {
  padding: 20px;
  height: 90vh;
  position: sticky;
  top: 10px;
}

.filter .filterContent .advanceFilter {
  background-color: var(--clr--primary);
}
.filter .filterContent .advanceFilter h5 {
  font-size: 15px;
  font-weight: 500;
}
.filter .filterContent .advanceFilter input {
  padding: 5px 10px;
  background-color: var(--clr-input-color);
}

.filter .filterContent .advanceFilter > div {
  margin-bottom: 20px;
}
.filter .filterContent h4 {
  color: var(--clr-secondary-white);
}
.filter .filterContent h5 {
  font-weight: 400;
  color: var(--clr-secondary-white);
}
.filter .filterContent .advanceFilter .primaryFilter,
.filter .filterContent .advanceFilter .budget,
.filter .filterContent .advanceFilter .noofRoom,
.filter .filterContent .advanceFilter .additional {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.filter .filterContent .advanceFilter .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter .filterContent .advanceFilter h4 {
  margin-bottom: 20px;
}
.filter .filterContent .advanceFilter .primaryFilter h5,
.filter .filterContent .advanceFilter .budget h5,
.filter .filterContent .advanceFilter .noofRoom h5,
.filter .filterContent .advanceFilter .additional h5 {
  flex-basis: 100%;
}
.filter .filterContent .advanceFilter .budget input,
.filter .filterContent .advanceFilter .noofRoom input {
  font-size: 13px;
  width: 120px;
}
.filter .filterContent .advanceFilter .primaryFilterBody {
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter .filterContent .advanceFilter .primaryFilterBody h5 {
  font-size: 14px;
  font-weight: 300;
}
.filter .filterContent .advanceFilter button {
  background: var(--clr-secondary);
  width: 100%;
  padding: 10px;
}
.filter .filterBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter .filterBody .sort {
  background-color: var(--clr--primary);
  padding: 20px 20px;
  display: flex;
  justify-content: end;
}
.filter .filterBody .sort .sortBy {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filter .filterBody .property {
  display: flex;

  overflow: hidden;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.filter .filterBody .property .content > * {
  margin-bottom: 15px;
}
.filter .filterBody .property .content > *:nth-child(5) {
  margin: 0;
}
.filter .filterBody .property h4 {
  color: var(--clr-primary-black);
}
.filter .filterBody .property .location {
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter .filterBody .property .image {
  width: 40%;
  overflow: hidden;
}
.filter .filterBody .property .image img {
  height: 100%;
  width: 100%;
}
.filter .searchSection .filterbutton {
  display: none;
}
.filter .filterBody .property .content {
  width: 60%;
  padding: 20px 20px;
}
.filter .filterBody .property .content .propertyheader,
.filter .filterBody .property .content .propertyFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter .filterBody .property .content .rooms,
.filter .filterBody .property .content .rooms .room {
  color: var(--clr-secondary-black);
  display: flex;
  gap: 10px;
}
.filter .filterBody .property .content .propertyFooter button {
  padding: 10px;
}

.filter .filterContent .RecentlyViewed {
  background-color: var(--clr--primary);
}

/* asidedsa
dasdsa */

.Agentcontainer > section {
  display: flex;
  justify-content: center;
}
.agents .agent_header {
  display: flex;
  justify-content: space-between;
}
.agents .agent_header input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 20%;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid var(--clr-secondary-black);
  transition: all 0.3s ease-in-out;
}

.agents .agent_header input:focus {
  width: 35%;
}
.agents .agent_body .agentInfo {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.agents .agent_body .agentInfo .agent {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
.agents .agent_body .agentInfo .agent:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 24px 10px rgba(0, 0, 0, 0.089);
}
.agents .agent_body .agentInfo .agent:hover .image img {
  transform: scale(1.05);
}

.agents .agent_body .agentInfo .agent .image {
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.agents .agent_body .agentInfo .agent .image img {
  height: 100%;
  width: 100%;
  transition: transform 200ms ease-in-out;
}

.agents .agent_body .agentInfo .agent .description {
  padding: 20px 10px;
}
/* 
asdsadsadassadsad */

.Blogcontainer > section {
  display: flex;
  justify-content: center;
}
#Blog > div > h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

#Blog > div > h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.blog {
  display: flex;
}
.blog > .leftcontainer {
  width: 70%;
}
.blog > .rightcontainer {
  width: 30%;
}
.blog > .leftcontainer > h3 {
  margin-bottom: 20px;
}
.blog .leftcontainer .blog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.blog .leftcontainer .blog_header .username,
.blog .leftcontainer .blog_header .view {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog .leftcontainer .blog_header .username .description {
  display: flex;
  gap: 3rem;
}
.blog .leftcontainer .blog_header .username .description .info h4 {
  font-weight: 600;
  font-size: 14px;
}
.blog .leftcontainer .blog_header .username .description .info p {
  line-height: 14px;
  font-weight: 400;
  font-size: 12px;
}
.blog .leftcontainer .blog_header .username .description > h4 {
  color: var(--clr-secondary-black);
  font-size: 15px;
  display: flex;
  align-items: end;
  font-weight: 500;
}
.blog .leftcontainer .blog_header .username .image {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.blog .leftcontainer .blog_header .username .image img {
  height: 100%;
  width: 100%;
}

.blog .leftcontainer .blog_body .carousel > div {
  border-radius: 6px;
}
.blog .leftcontainer .blog_body .carousel .slider {
  margin-bottom: 40px;
  height: 10rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.blog .leftcontainer .blog_body .carousel .slider .img {
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
.blog .leftcontainer .blog_body .carousel .slider .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog .leftcontainer .blog_body .carousel .image {
  height: 40rem;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.blog .leftcontainer .blog_body .carousel .image img {
  height: 100%;
}

.blog .leftcontainer .blog_body .description > * {
  margin-bottom: 20px;
}

.blog .leftcontainer .blog_body .description > h5 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
}
.blog .leftcontainer .blog_body .description > a {
  font-size: 14px;
  font-weight: 500;
  color: var(--clr--primary);
}
.blog .leftcontainer .blog_body .reaction-tab {
  margin: 30px 0;
}
.blog .leftcontainer .blog_body .reaction-tab,
.blog .leftcontainer .blog_body .reaction-tab > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog .leftcontainer .blog_body .reaction-tab > div {
  gap: 10px;
  cursor: pointer;
}
.blog .leftcontainer .blog_body .reaction-tab > div {
  font-size: 20px;
}
.blog .leftcontainer .blog_body .reaction-tab > div h4 {
  font-size: 16px;
}

.blog .leftcontainer .blog_body .comments-tab .input-section {
  margin-bottom: 30px;
}

.blog .leftcontainer .blog_body .comments-tab .input-section {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.blog .leftcontainer .blog_body .comments-tab > h4 {
  margin-bottom: 20px;
}
.blog .leftcontainer .blog_body .comments-tab .input-section .image {
  height: 50px;
  width: 58px;
  border-radius: 50%;
  overflow: hidden;
}
.blog .leftcontainer .blog_body .comments-tab .input-section .input {
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.blog .leftcontainer .blog_body .comments-tab .input-section .input input {
  background-color: var(--clr-input-color);
  width: 100%;
  padding: 20px 10px;
}
.blog .leftcontainer .blog_body .comments {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog .leftcontainer .blog_body .comment {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.blog .leftcontainer .blog_body .comments-tab .input-section .btn button {
  padding: 15px 20px;
}
.blog .leftcontainer .blog_body .comment .comment-description {
  display: flex;
  gap: 10px;
}
.blog .leftcontainer .blog_body .comment .comment-description div > div {
  display: flex;
  gap: 5px;
  font-size: 14px;
}
.blog .leftcontainer .blog_body .comment .comment-description .info > * {
  margin-bottom: 5px;
}
.blog .leftcontainer .blog_body .comment .comment-description .info h4 {
  font-size: 15px;
}
.blog .leftcontainer .blog_body .comment .comment-description .info p {
  font-size: 13px;
  line-height: 16px;
  width: 70%;
}
.blog .leftcontainer .blog_body .comment .comment-description .image {
  height: 50px;
  width: 97px;
  overflow: hidden;
  border-radius: 50%;
}

.blog .rightcontainer .recentblogs {
  padding: 0 40px;
}
.blog .rightcontainer .recentblogs > h4 {
  margin-bottom: 20px;
}
.blog .rightcontainer .recentblogs .recentBlog {
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.blog .rightcontainer .recentblogs .recentBlog .image {
  height: 10rem;
  overflow: hidden;
}

.blog .rightcontainer .recentblogs .recentBlog .description {
  padding: 20px 10px;
}
.blog .rightcontainer .recentblogs .recentBlog .description h4 {
  margin-bottom: 10px;
}
.blog .rightcontainer .recentblogs .recentBlog .description p {
  line-height: 1rem;
}

/* 

Login And Registration  */

.AuthenticationSection > section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.login {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.05);
}
.login .logincontainer {
  display: flex;
  width: 100%;
  height: 40rem;
}
.login .logincontainer > div {
  display: flex;
  flex-direction: column;

  flex: 1;
  gap: 30px;
}
.login .logincontainer > div:nth-child(1) {
  padding: 3rem 4rem;
  justify-content: center;
}

.login .logincontainer > div:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  height: 100%;
  background-position: center;
  background-size: cover;
}
.login .rightcontainer .bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #424951ab;
  height: 100%;
  padding: 3rem 4rem;
}
.login .rightcontainer p {
  color: var(--clr-secondary-white);
}
.login .rightcontainer a {
  color: var(--clr-secondary-white);
  outline: 1px solid #f99b1f;
  border-radius: 6px;
  padding: 10px 20px;
}
.login .rightcontainer a:hover {
  background-color: #f99b1f;
  color: var(--clr-primary-white);
}

.login .logincontainer .leftcontainer .image img {
  height: 80px;
  width: auto;
}

.login .logincontainer .leftcontainer .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}
.login .logincontainer .leftcontainer .LoginDetails > * {
  margin: 15px 0;
}

.login .logincontainer .leftcontainer .form input {
  background: var(--clr-input-color);
  padding: 20px 10px;
  border-radius: 6px;
}

.login .logincontainer .leftcontainer .form .submit {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login .logincontainer .leftcontainer .form .submit button {
  height: 40px;
  width: 10rem;
}

.login .logincontainer .leftcontainer .form .Reminder {
  display: flex;
  justify-content: space-between;
}
.login .logincontainer .leftcontainer .form .Reminder label,
.login .logincontainer .leftcontainer .form .Reminder a {
  font-size: 14px;
}

.login .logincontainer .leftcontainer .form .Reminder a {
  color: var(--clr--primary);
  text-decoration: underline;
}

/* sad */
.Register {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.05);
}
.Register .Registercontainer {
  display: flex;
  width: 100%;
  height: 50rem;
}
.Register .Registercontainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 4rem;
  flex: 1;
  gap: 30px;
}

.Register .Registercontainer > div:nth-child(1) {
  background-color: var(--clr--primary);
  align-items: center;
  height: 100%;
}
.Register .leftcontainer p {
  color: var(--clr-secondary-white);
}
.Register .leftcontainer a {
  color: var(--clr-secondary-white);
  outline: 1px solid #f99b1f;
  border-radius: 6px;
  padding: 10px 20px;
}
.Register .leftcontainer a:hover {
  background-color: #f99b1f;
  color: var(--clr-primary-white);
}

.Register .Registercontainer .rightcontainer .image img {
  height: 80px;
  width: auto;
}

.Register .Registercontainer .rightcontainer .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}
.Register .Registercontainer .rightcontainer .RegisterDetails > * {
  margin: 15px 0;
}

.Register .Registercontainer .rightcontainer .form input {
  background: var(--clr-input-color);
  padding: 20px 10px;
  border-radius: 6px;
}

.Register .Registercontainer .rightcontainer .form .submit {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  width: 100%;
}
.Register .Registercontainer .rightcontainer .form .submit button {
  height: 40px;
  width: 10rem;
}

.Register .Registercontainer .RegisterDetails .inputsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.Register .Registercontainer .RegisterDetails .inputsection input {
  width: 100%;
}

.Register .Registercontainer .RegisterDetails .inputsection div:nth-child(5) {
  grid-column: 1/3;
}

/* AgentDetailPagesss */
.AgentDetail > section {
  display: flex;
  justify-content: center;
}

.AgentDetail #AgentHeader {
  background-color: var(--clr--primary);
  height: 20rem;
  width: 100%;
}
.agent_header {
  height: 100%;
  display: flex;

  gap: 20px;
}
.agent_header > div {
  flex: 1;
}
.agent_header .agentinfo {
  display: flex;

  gap: 20px;
  border-right: 1px solid var(--clr-primary-white);
}

.agent_header .agentinfo .image {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.agent_header .agentinfo h3 {
  color: var(--clr-primary-white);
}

.agent_header .agentinfo h4 {
  color: var(--clr-secondary-white);
}
.agent_header .agentinfo .agentdescription > * {
  margin-bottom: 10px;
}

.agent_header .agentinfo .agentdescription .personalInfo {
  display: flex;
  color: var(--clr-secondary-white);
  gap: 10px;
}
.agent_header .agentinfo .agentdescription .personalInfo > div {
  display: flex;
  gap: 10px;
}
.agent_header .properties > * {
  margin-bottom: 10px;
}
.agent_header .properties h3 {
  color: var(--clr-primary-white);
}
.agent_header .properties h4 {
  color: var(--clr-secondary-white);
}

.agent_header .properties .propertytype {
  display: flex;
  gap: 20px;
}

#Agentabout .about .propertyunder .properties {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

#Agentabout .about .propertyunder .properties .property {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 6px;
}
#Agentabout .about > p {
  margin-bottom: 20px;
}
#Agentabout .about h4 {
  margin-bottom: 20px;
}

#Agentabout .about .propertyunder .properties .property .image {
  height: 15rem;
  width: 100%;
  overflow: hidden;
}
.agent_header .properties .propertytype h2 {
  color: var(--clr-primary-white);
  font-weight: 400;
  font-size: 40px;
}

#Agentabout .about .propertyunder .properties .property .description {
  padding: 20px 10px;
}

#Agentabout .about .propertyunder .properties .property .description > h4 {
  margin-bottom: 5px;
}
