@media All and (max-width: 1366px) {
  .container {
    width: 100%;
  }

  .homepage .hero-image {
    border-radius: 2px;
  }
  .homepage .hero-image {
    padding: 40px;
  }
  .body > section {
    padding: 4rem 40px;
  }
  #RecentProperty,
  #SoldProperty,
  #Footer {
    padding: 4rem 40px;
  }

  #Navbar {
    padding: 20px 40px;
  }
}

@media All and (max-width: 1024px) {
  .navbar .button {
    display: block;
  }

  .navbar .navlinks .navlink {
    flex-direction: column;
    position: fixed;
    background-color: var(--clr--primary);
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: flex-start;
    transition: all 400ms ease-in-out;
    padding: 20px 3rem;
  }

  .navbar .navlinks .navlink .profile {
    width: 100%;
  }
  .navbar .navlinks .navlink ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .navlinks .navlink ul li .active {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
  }
  .navbar .navlinks .navlink ul > li {
    padding: 20px 0px;
  }
  .navbar .navlinks .profile {
    flex-direction: column;
  }

  .navbar .navlinks .profile .loginauth a button {
    background-color: var(--clr-secondary);
    width: 50%;
    border-radius: 6px;
  }
  .navbar .navlinks .profile .Registrationauth a button {
    outline: 1px solid var(--clr-secondary-white);
    padding: 10px 20px;
    width: 50%;
    color: var(--clr-secondary-white);
  }
  .navbar .navlinks .nav-active {
    left: 0px;
  }
  .navbar .bg-active {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  .navbar .navlinks .navlink ul li a {
    color: white;
  }
  .soldproperty .bottomsection .properties,
  .recentproperty .bottomsection .properties {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .contactDetails {
    flex-direction: column;
    gap: 40px;
  }
  .service .service-content {
    flex-direction: column;
  }
  .homepage .hero-image .advanceSearch > div:nth-child(1) {
    width: 100%;
  }
  .homepage .hero-image .advanceSearch > div:nth-child(2) {
    display: none;
  }
}

@media All and (max-width: 768px) {
  #Homepage {
    margin-bottom: 30px;
  }

  .soldproperty .bottomsection .properties,
  .recentproperty .bottomsection .properties {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .topsection {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer .topsection > div {
    width: 100% !important;
  }
  .footer .topsection .about p {
    width: 100%;
  }
  .soldproperty .bottomsection .properties > div {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }

  .recentproperty .bottomsection .properties > div {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
  .aboutus .aboutus-content .rightcontainer img,
  .service .service-content .rightcontainer img {
    width: 100%;
  }
}

@media All and (max-width: 600px) {
  .homepage .hero-image {
    height: 60vh;
  }
  .logo img {
    height: 40px;
    width: auto;
  }
  h3 {
    font-size: 15px !important;
  }
  h1 {
    font-size: 24px;
  }
  h4 {
    font-size: 13px !important;
  }

  p {
    font-size: 12px !important;
  }
  a {
    font-size: 13px !important;
  }
  input,
  textarea {
    border-radius: 6px !important;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 12px !important;
  }
  .navbar .navlinks .profile .loginauth a button {
    width: 100%;
  }
  .navbar .navlinks .profile .Registrationauth a button {
    width: 100%;
  }

  .body > section {
    padding: 3rem 20px;
  }

  #RecentProperty,
  #SoldProperty,
  #Footer {
    padding: 3rem 20px;
  }

  .testamonial .bottomsection {
    flex-direction: column;
    gap: 60px;
  }
  .aboutus .aboutus-content {
    flex-direction: column;
  }
  .soldproperty .bottomsection .properties .property .image,
  .recentproperty .bottomsection .properties .property .image {
    width: 100%;
  }

  .soldproperty .bottomsection .properties .property .image img,
  .recentproperty .bottomsection .properties .property .image img {
    height: 100%;
    width: 100%;
  }
  .soldproperty .bottomsection .properties > div,
  .recentproperty .bottomsection .properties > div {
    gap: 10px;
  }
  .contact .contactDetails .leftcontainer .contactinfo,
  .contact .contactDetails .rightcontainer .contactform {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact .contactDetails .rightcontainer .contactform input {
    grid-column: 1/1;
  }
  .contact .contactDetails .rightcontainer .contactform textarea {
    grid-column: 1/1;
  }
  .homepage .hero-image .advanceSearch {
    display: none;
  }
  .aboutus .aboutus-content .rightcontainer {
    justify-content: center;
  }
  .soldproperty .bottomsection .properties,
  .recentproperty .bottomsection .properties {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer .bottomsection {
    flex-direction: column;
  }

  .footer .bottomsection a {
    display: inline-block;
    width: 40%;
    font-size: 13px;
  }
}
