@media All and (max-width: 1366px) {
}

@media All and (max-width: 1024px) {
}
@media All and (max-width: 768px) {
  #PrivacyPolicy {
    padding: 2rem 40px;
  }

  .privacy > div:nth-child(1) {
    display: none;
  }
}

@media All and (max-width: 600px) {
  #PrivacyPolicy {
    padding: 2rem 20px;
  }
}
