@media All and (max-width: 1366px) {
  #Wishlist {
    padding: 3rem 40px;
  }
}
@media All and (max-width: 1024px) {
  #Wishlist {
    padding: 3rem 40px;
  }
  #Wishlist .Wishlist_body .whislistProperties {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media All and (max-width: 900px) {
  #Wishlist {
    padding: 3rem 40px;
  }
  #Wishlist .Wishlist_body .whislistProperties {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media All and (max-width: 600px) {
  #Wishlist {
    padding: 2rem 20px;
  }
  #Wishlist .Wishlist_body .whislistProperties {
    grid-template-columns: repeat(1, 1fr);
  }
}
